<div class="container">
  <% if @cocktail.photo.present? %>
        <%= cl_image_tag(@cocktail.photo, width: 400, height: 300, crop: :fill) %>
  <% else %>
    <%= cl_image_tag("https://images.unsplash.com/photo-1531387367216-681093c0279b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73ca72de11ae9cd2fa7367dc1ee76705&w=1000&q=80", width: 400, height: 300, crop: :fill) %>
  <% end %>
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
    <p><%= "#{dose.description} #{dose.ingredient.name}"%>
      <%= link_to dose_path(dose), method: :delete do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </p>
  <% end  %>

  <hr>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %>
  <%= link_to cocktails_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>

